<div class="content">
    {% for index in stats %}
        <h2 style="width: 100%;">
            {{ index.name }}
            {% if index.site == "all" %}
                <span class="light">&ndash; {{ "All sites"|t('scout') }}</span>&nbsp;
            {% else %}
                <span class="light">&ndash; {{ index.site.name }}</span>&nbsp;
            {% endif %}
            <span class="light">&ndash; </span><small class="light">{{ index.elementType }}</small>
        </h2>
        <table class="data fullwidth fixed-layout">
            <tbody>
            <tr>
                <th class="light">{{ "Elements in Craft"|t("scout") }}</th>
                <td>{{ index.elements }}</td>
            </tr>
            <tr>
                <th class="light">{{ "Records in Index"|t("scout") }}</th>
                <td>{{ index.indexed }}</td>
            </tr>
            <tr>
                <th class="light">
                    {{ "Actions"|t("scout") }}<br>
                    <small style="font-weight: normal;">{{ "These can take a while to process."|t("scout") }}</small>
                </th>
                <td>
                    <div style="display: flex; justify-content: left; flex-wrap: wrap;">
                        {% include 'scout/_partials/action' with {
                            action: {
                                name: 'Refresh' | t('scout'),
                                slug: 'refresh',
                                index: index.name
                            }
                        } %}
                        &nbsp;
                        {% include 'scout/_partials/action' with {
                            action: {
                                name: 'Import' | t('scout'),
                                slug: 'import',
                                index: index.name
                            }
                        } %}
                        &nbsp;
                        {% include 'scout/_partials/action' with {
                            action: {
                                name: 'Flush' | t('scout'),
                                slug: 'flush',
                                index: index.name
                            }
                        } %}
                    </div>
                    <div style="display: flex; justify-content: left; flex-wrap: wrap;">
                        {% if index.hasSettings %}
                            {% include 'scout/_partials/action' with {
                                action: {
                                    name: 'Update Settings' | t('scout'),
                                    slug: 'update-settings',
                                    index: index.name
                                }
                            } %}
                            &nbsp;
                            {% include 'scout/_partials/action' with {
                                action: {
                                    name: 'Dump Settings' | t('scout'),
                                    slug: 'dump-settings',
                                    index: index.name
                                }
                            } %}
                        {% endif %}
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    {% endfor %}
</div>
